language: php
php:
  - 5.4
  - 5.5
  - 5.6
before_script:
 - git clone -q https://github.com/phalcon/cphalcon.git
 - (cd cphalcon/ext; phpize && ./configure && make -B && sudo make install && phpenv config-add ../unit-tests/ci/phalcon.ini &> /dev/null && cd ../..;)
 - (sudo mkdir app/cache && sudo chmod -R a+w app/cache)
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install
 - java -jar server/selenium-server-standalone-2.37.0.jar -Dwebdriver.chrome.driver=server/driver/chrome/chromedriver
script: (cd tests; phpunit --configuration PHPunit.xml --debug)
