language: php
php:
  - 5.4
  - 5.5
  - 5.6
before_script:
 - git clone -q https://github.com/phalcon/cphalcon.git
 - (cd cphalcon/ext; phpize && ./configure && make -B && sudo make install && phpenv config-add ../unit-tests/ci/phalcon.ini &> /dev/null && cd ../..;)
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install
 - gem install selenium-webdriver

script: (cd tests; phpunit --configuration testSuite.xml --debug)
