language: php
php:
  - 5.4
  - 5.5
  - 5.6
before_script:
 - git clone -q https://github.com/phalcon/cphalcon.git
 - (cd cphalcon/build; sudo ./install && phpenv config-add ../../unit-tests/ci/phalcon.ini)
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install

script: (cd tests; phpunit --debug)
