language: php
php:
  - 5.6
  - 7.0
cache:
  directories:
    - vendor
    - ~/.composer/cache
    - ~/cphalcon
addons:
  firefox: "41.0"
#sudo: required
before_install:
 - composer self-update
# - composer update --prefer-source --no-interaction
# - sudo apt-get install -y --force-yes php5-dev
 - sudo curl -s https://packagecloud.io/install/repositories/phalcon/stable/script.deb.sh | sudo bash
 - 'if [[ ${TRAVIS_PHP_VERSION:0:1} = "5" ]]; then
    sudo apt-get install -y --force-yes php5-phalcon ;
    fi'
 - 'if [[ ${TRAVIS_PHP_VERSION:0:1} = "7" ]]; then
    sudo apt-get install -y --force-yes php7.0-phalcon ;
    fi'
# - composer install --prefer-source --no-interaction
# - git clone -q https://github.com/phalcon/zephir.git
# - cd zephir
# - sudo chmod +x build_linux.sh
# - sudo ./install -c
# - cd ..
# - sudo chmod +x vendor/bin/install-phalcon.sh
# - sudo chmod +x vendor/techpivot/phalcon-ci-installer/bin/install-phalcon.sh
# - sudo chmod +x vendor/phalcon/zephir/bin/zephir
# - vendor/bin/install-phalcon.sh 2.0.x
before_script:
# - git clone -q --depth=1 https://github.com/phalcon/cphalcon.git
# - (cd cphalcon/build; sudo ./travis-install && cd ../..;)
# - (sudo mkdir app/cache && sudo chmod -R a+w app/cache)
# - sudo chmod +x vendor/bin/install-phalcon.sh
# - git submodule --quiet update --init --recursive
# - git clone -q https://github.com/phalcon/cphalcon.git
# - (cd cphalcon/ext; export CFLAGS="-g3 -O1 -std=gnu90 -Wall -Werror -Wno-error=uninitialized"; phpize && ./configure --silent --enable-phalcon && make --silent -j4 > /dev/null && sudo make --silent install && phpenv config-add ../unit-tests/ci/phalcon.ini &> /dev/null && cd ../..;)
# - ulimit -c unlimited || true
 - "sh -e /etc/init.d/xvfb start"
 - "export DISPLAY=:99.0"
 - "wget http://selenium-release.storage.googleapis.com/2.45/selenium-server-standalone-2.45.0.jar"
 - "java -jar selenium-server-standalone-2.45.0.jar > /dev/null &"
 - sleep 5
 - cd public
 - php -S 127.0.0.1:8090 .htrouter.php &
 - sleep 5
 - cd ..
script: (cd tests; phpunit --configuration PHPunit.xml --debug)
after_success:
 - bash <(curl -s https://codecov.io/bash)
notifications:
  email: false