dist: trusty
sudo: required
language: php
php:
  - 5.6
  - 7.0
matrix:
  allow_failures:
    - php: 7.1
  include:
    - php: 7.0
      env: ZEND_BACKEND="--backend=ZendEngine3"
    - php: 7.1
      env: ZEND_BACKEND="--backend=ZendEngine3"
cache:
  directories:
    - vendor
    - ~/.composer/cache
    - ~/cphalcon
addons:
  firefox: "41.0"
before_install:
 - composer self-update
# - composer update --prefer-source --no-interaction
# - sudo apt-get install -y --force-yes php5-dev
# - sudo curl -s https://packagecloud.io/install/repositories/phalcon/stable/script.deb.sh | sudo bash
# - 'if [[ ${TRAVIS_PHP_VERSION:0:1} = "5" ]]; then
#    sudo apt-get install -y --force-yes php5-phalcon ;
#    fi'
# - 'if [[ ${TRAVIS_PHP_VERSION:0:1} = "7" ]]; then
#    sudo apt-get install -y --force-yes php7.0-phalcon ;
#    fi'
# - composer install --prefer-source --no-interaction
# - git clone -q https://github.com/phalcon/zephir.git
# - cd zephir
# - sudo chmod +x build_linux.sh
# - sudo ./install -c
# - cd ..
# - sudo chmod +x vendor/bin/install-phalcon.sh
# - sudo chmod +x vendor/techpivot/phalcon-ci-installer/bin/install-phalcon.sh
# - sudo chmod +x vendor/phalcon/zephir/bin/zephir
# - vendor/bin/install-phalcon.sh 2.0.x
before_script:
# - git clone -q --depth=1 https://github.com/phalcon/cphalcon.git
# - (cd cphalcon/build; sudo ./travis-install && cd ../..;)
# - (sudo mkdir app/cache && sudo chmod -R a+w app/cache)
# - sudo chmod +x vendor/bin/install-phalcon.sh
# - git submodule --quiet update --init --recursive
 - git clone -q https://github.com/phalcon/cphalcon.git
 - cd cphalcon
 - bash tests/_ci/install_prereqs.sh
 - bash tests/_ci/install_zephir.sh
 - sudo chmod +x build_linux.sh
 - '( zephir fullclean && zephir generate $ZEND_BACKEND )'
 - (cd ext; export CFLAGS="-g3 -O1 -std=gnu90 -Wall -DZEPHIR_RELEASE=1"; phpize &> /dev/null && ./configure --silent --enable-phalcon &> /dev/null && make --silent -j4 &> /dev/null && make --silent install && phpenv config-add ../tests/_ci/phalcon.ini &> /dev/null && cd ../..;)
 - ulimit -c unlimited || true
 - "sh -e /etc/init.d/xvfb start"
 - "export DISPLAY=:99.0"
 - "wget http://selenium-release.storage.googleapis.com/2.45/selenium-server-standalone-2.45.0.jar"
 - "java -jar selenium-server-standalone-2.45.0.jar > /dev/null &"
 - sleep 5
 - cd public
 - php -m
 - php -S 127.0.0.1:8090 .htrouter.php &
 - sleep 5
 - cd ..
script: (cd tests; phpunit --configuration PHPunit.xml --debug)
after_success:
 - bash <(curl -s https://codecov.io/bash)
notifications:
  email: false