language: php
php:
  - 5.6
  - 7.0
cache:
  directories:
    - vendor
    - ~/.composer/cache
    - ~/cphalcon
addons:
  firefox: "41.0"
sudo: required
before_install:
 - sudo apt-get install -y --force-yes php5-dev
 - vendor/bin/install-phalcon.sh
before_script:
# - git clone -q https://github.com/phalcon/cphalcon.git
# - (cd cphalcon/build; sudo ./travis-install && cd ../..;)
# - (sudo mkdir app/cache && sudo chmod -R a+w app/cache)
# - sudo chmod +x vendor/bin/install-phalcon.sh
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install
 - "sh -e /etc/init.d/xvfb start"
 - "export DISPLAY=:99.0"
 - "wget http://selenium-release.storage.googleapis.com/2.45/selenium-server-standalone-2.45.0.jar"
 - "java -jar selenium-server-standalone-2.45.0.jar > /dev/null &"
 - sleep 5
 - cd public
 - php -S 127.0.0.1:8090 .htrouter.php &
 - sleep 5
 - cd ..
script: (cd tests; phpunit --configuration PHPunit.xml --debug)
after_success:
 - bash <(curl -s https://codecov.io/bash)
