<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="TestHelper.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuite name="phalcon-jquery - Testsuite">
        <directory>./</directory>
    </testsuite>
    <logging>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>
    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">./</directory>
        <exclude>
          <directory suffix=".php">vendor</directory>
        </exclude>
      </whitelist>
    </filter>
</phpunit>